<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pizza Planet</title>
</head>
<body>
    <div class="main">

    </div>

            <!-- Top header of the website in which different links and option of downloadinf app is available. -->
    
    <div class="top">
        <a class="link" href="#">OUR MENU</a>
        <a class="link" href="#">DOMINOS'S STORE</a>
        <a class="link" href="#">GIFT CARD</a>
        <a class="link" href="Profile">CORPORATE ENQUIRY</a>
        <a class="link" href="#">CONTACT</a>
        <a href="#" class="appbtn" type="submit">Download App</a>
    </div>
    
                            <!-- Section of online ordering button and a banner image. -->
    
    <div class="container">
        
            <h1 class="orderonline" >Domino's online ordering</h1>
            <h3 class="orderonline" >Yummy pizza delivered fast & fresh</h3>
            <a href="#" class="ordrbtn" type="button">ORDER ONLINE NOW</a>
        
    </div>
        

                                            <!-- Here starts the MENU. -->

    <div class="menu">
        <h1 id="menuhead">MENU</h1>

                                        <!-- 1st heading "CHEESE BURST PIZZA". -->

        <h2 id="cheeseburst" >Cheese Burst Pizza</h2>
       <div class="card-container">

                                                <!-- Menu of 1st heading. -->
                                                
                                                <div class="card">
                                                    <img src="Resources/_new_peppy_paneer.jpg" alt="New Peppy Paneer Pizza">
                                                    <div class="card-content">
                                                        <h4>&#8377 160</h4>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_MenusizeVeggieParadise.jpg" alt="Veggie Paradise Pizza">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_new_veggie_paradise.jpg" alt="New Veggie Paradise Pizza">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
        
        <div class="card">
            <img src="Resources/italian-delight-pizza.webp" alt="Pizza">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

                                            <!-- 2nd heading "PIZZA MANIA". -->

        <h2 id="pizzamaina" >Pizza Mania</h2>
        <div class="card-container">

                                            <!-- Menu of 2nd heading. -->

            <div class="card">
                <img src="Resources/_new_margherita_.jpg" alt="New Margherita Pizza">
                <div class="card-content">
                    <h4>&#8377 160</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                    <a href="#" class="btn" >Buy Now</a>
                </div>
            </div>
    
            <div class="card">
                <img src="Resources/onion_veg.jpg" alt="Onion veg Pizza">
                <div class="card-content">
                    <h4>&#8377 160</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                    <a href="#" class="btn" >Buy Now</a>
                </div>
            </div>
    
            <div class="card">
                <img src="Resources/pizza_mania_tomato.png" alt="Pizza Mania Tomato">
                <div class="card-content">
                    <h4>&#8377 160</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                    <a href="#" class="btn" >Buy Now</a>
                </div>
            </div>
            
            <div class="card">
                <img src="Resources/PrimeLoadedL.jpg" alt="Veg loaded Pizza">
                <div class="card-content">
                    <h4>&#8377 160</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                    <a href="#" class="btn" >Buy Now</a>
                </div>
            </div>

       </div>

                                       <!-- 3rd heading "Sides and Beverages". -->
       
    <h2 id="sidesbeverages" >Sides and Beverages</h2>
    <div class="card-container">

                                         <!-- Menu of 3rd heading. -->
        
        <div class="card">
            <img src="Resources/_MenuGarlicBreadwithcornkorean.jpg" alt="Korean sauce garlic bread">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_CorouselGarlicBreadwithpaneerKorean.jpg" alt="Korean sauce garlic bread">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_FullsizeGarlicBreadwithcornFiery.jpg" alt="Fiery garlic bread">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
         
        <div class="card">
            <img src="Resources/_nv_burger_pizza.webp" alt="Burger Pizza">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
    
        
        <div class="card">
            <img src="Resources/_veg_taco_side.webp" alt="Veg Taco">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_zingy_parcel_v_side.webp" alt="Veg Parcel">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
    </div>

    <div class="card-container">

        <div class="card">
            <img src="Resources/_MountainDew.jpg" alt="Mountain Dew">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
        
        <div class="card">
            <img src="Resources/_Pepsi.jpg" alt="pepsi">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img src="Resources/_PEPSIBLACKCAN.jpg" alt="PEPSIBLACKCAN">
            <div class="card-content">
                <h4>&#8377 160</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veniam. Distinctio illo unde ducimus reiciendis quam illum atque ab.</p>
                <a href="#" class="btn" >Buy Now</a>
            </div>
        </div>
    </div>

    <div class="description">

        <div class="p">
            <h2 class="h">Lorem, ipsum dolor.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae suscipit, quia nam soluta consequatur voluptatum expedita dolor rerum illo odit esse culpa facilis dolores. Vel ipsa aliquam dolores, atque animi similique, itaque architecto quos repellendus iusto suscipit explicabo fugiat dolorum! Maxime, explicabo illum molestiae voluptates suscipit repellendus adipisci atque qui placeat. Illum at eligendi placeat possimus natus quos neque non tempore pariatur in enim dignissimos saepe optio, ipsum officia vero quam blanditiis architecto fugit? Reiciendis corporis deleniti aliquid dicta vero animi tenetur dolore sequi autem dignissimos fuga ducimus praesentium veritatis, doloremque quae? Repellat eligendi laudantium eum recusandae et sapiente perferendis.</p>
        </div>
    
        <div class="p">
            <h2 class="h">Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium at possimus ipsa. Molestiae itaque modi, quisquam aspernatur eveniet esse optio, architecto dicta laborum nam vero vitae sint quas laboriosam porro deserunt libero natus rem laudantium unde magnam possimus. Nam placeat officiis modi illo cum ipsum fugiat quidem eligendi natus beatae ullam voluptas eaque distinctio saepe praesentium vel deserunt nobis, consequatur velit quasi maxime consectetur atque suscipit? Ducimus, quos hic!</p>    
        </div>
        
        <div class="p">
            <h2 class="h">Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero ratione rerum quas autem ullam dolores, non ipsum perspiciatis iste consequatur alias, quia nesciunt saepe beatae itaque consequuntur? Molestiae dignissimos dolore ut pariatur quisquam! Laborum quae vero explicabo nostrum! In perspiciatis iste porro veniam ullam reiciendis illo harum cum similique numquam! Consequatur magni laborum, blanditiis eligendi, quasi mollitia, debitis hic voluptatum odio iusto cumque neque alias quas beatae veritatis ullam ducimus a. Deserunt modi, delectus corrupti voluptas tenetur recusandae soluta facilis ab facere aperiam quo.</p>    
        </div>
    </div>

    <style>*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
}

/* Styling for top header */

.top{
    background:url('Resources/Domino_pizza_logo-696x700.webp')no-repeat;
    /* background-repeat: no-repeat; */
    background-size: 63px;
    display: flex;
    background-color: rgb(7, 7, 7);
    min-height: 65px;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    color: rgb(203, 226, 246);
    /* font-family: ; */
    text-decoration: none;
}

.link{
    color: white;
    text-decoration: none;
    
}

.link:hover{
    text-decoration: underline;
} 

.appbtn{
    font-weight: bold;
    background-color: red;
    color: aliceblue;
    /* border-color: maroon; */
    border-radius: 5px;
    padding-top: 12px;
    width: 150px;
    height: 50px;
    text-decoration: none;
}

/* Styling for oniline order section */

.container{
    
    background: url('Resources/Domino\'s\ Banner_sticky.png')no-repeat;
    background-position: right;
    background-size: 800px;
    height: 235px;
    width: 100%;
    background-color: cornflowerblue;
}

.orderonline{
    align-items: center;
    border-color: rgb(237, 8, 8);
    border-width: 5cm;
    color: white;
    background-color: transparent;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.ordrbtn{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: green;
    height: 50px;
    width: 150px;
    margin-top: 37px;
    margin-left: 170px;
}

#menuhead{
    background-color: red;
    /* box-sizing: border-box; */
    /* border-color: aqua; */
    text-align: center;
    color: white;
    
}

#cheeseburst{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    
}

.menu div{
    /* display: flex; */
    background-color:black;
    color: white;
    /* max-height: 5cm; */
}

.cheeseburst{
    /* size: 10cm; */
    height: 280px;
    width: 280px;
    padding-left: 50px;
}

.menu div h3{
    padding-left: 100px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 2px;
    border-color: white;
    border: 10px;
}

.card img{
    width: 75%;
    height: 40%;
}

.card-content{
    padding: 16px;
}

.card-content h4{
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content p{
    color: beige;
    font-size: 15px;
    line-height :1.3;
    margin-bottom: 15px;
}

.card-content .btn{
    
    background-color: red;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    margin-top: 15px;
}

.description{
    margin-left: 40px;
}

.description .p{
    padding: 20px;
}

.description .h{
    color: red;
}</style>
</body>
</html>