<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/get-form-data">
        
        <input type="text"
        placeholder="Enter Username"
        name="Username"><!-- This name is given to get data at server-->
        
        <input type="email"
        placeholder="Enter E mail"
        name="Email"><!-- This name is given to get data at server-->
        
        <input type="password"
        placeholder="Enter Password"
        name="Password"><!-- This name is given to get data at server-->

        <input type="button" value="Submit" >

    </form>
</body>
</html>