<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    /* #email {
        color: blue;
        color-scheme: blue;
        border-color: rgb(255, 33, 4);
    }

    body {
        border-color: blue;
    } */

    #Form {
        /* align-items: center; */
        /* align-self: center; */
        /* align-content: center; */
        /* align-tracks: center; */
        text-align-last: center;
        /* flood-color: goldenrod; */
        caret-color: aqua;
        /* accent-color: blue; */
        text-decoration: gold;
        border-width: 0;
    }
    .size{
        background-color: aqua;
        color: hotpink;
        font-size: large;
    }
</style>

<body>
    <form action="get"></form>
    <b>Enter your Username</b><input type="text" placeholder="Username"><br>
    <b>Enter your Password</b><input type="password" name="password" placeholder="Password" id="pass"><br>
    <b>Enter your Email </b><input type="email" name="email" id="email"><br>
    <b>Select your gender.:-</b><input type="radio" name="radio" id="radio"><b>Male</b>
    <input type="radio" name="radio" id="radio"><b>Female</b><br>
    <input type="checkbox" name="checkbox" id="checkbox">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Laudantium, adipisci?<br>
    <input type="checkbox" name="checkbox" id="checkbox">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim
    impedit dolorem fugiat <br>
    <input type="checkbox" name="checkbox" id="checkbox">I agree to all the Terms and conditions apply. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Id soluta ullam optio itaque adipisci dignissimos alias repellat
    dolorum, ipsa eaque ratione, explicabo eligendi! <br>
    <input type="submit" value="SUBMIT">
    <div>
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <ul>
                <li>Black Tea</li>
                <li>Green Tea</li>
            </ul>
            <li>Milk</li>
        </ul>
    </div>
    <div id="Form">
        <h1>Registration Form</h1>
        <form action="get"></form>
        <b>Username-----------------------=>></b><input type="text" placeholder="Username"><br><br>
        <b>Password------------------------=>></b><input type="password" name="password" placeholder="Password"
            id="pass"><br><br>
        <b>Confirm Password--------------=>></b><input type="password" name="password" placeholder="Password"
            id="pass"><br><br>
        <b>First Name----------------------=>></b><input type="text" placeholder="First Name"><br><br>
        <b>Last Name-----------------------=>></b><input type="text" placeholder="Last Name"><br><br>
        <b>Email----------------------------=>></b><input type="email" name="email" id="email" placeholder="Email"><br><br>
        <b>Phone No.-----------------------=>></b><input type="number" name="number" id="number"
            placeholder="Phone number"><br><br>
        <b>Location------------------------=>></b><input type="text" name="Location" id="Location"
            placeholder="Location"><br><br><br>
        <input type="submit" value="Save">
        <input type="submit" value="Reset">
    </div>
    <div class="size">
        <h1>Lorem, ipsum dolor.</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque dolores et, ut dolor fugiat, provident culpa placeat vel laboriosam perspiciatis animi autem odit inventore adipisci nisi tempore facilis quam dolorum ratione. Itaque soluta, dolores eius quis inventore id enim nostrum amet obcaecati sint atque ipsa fuga veniam consequatur eos non minima aliquid nulla, cupiditate quia asperiores iure dolorum. Rerum quos autem et debitis magnam atque labore eaque mollitia similique alias? Eum repudiandae minima quidem deserunt soluta doloribus necessitatibus alias animi ea quos ullam, distinctio consectetur cum nihil eveniet architecto ipsam sapiente reiciendis? Omnis nobis doloremque quae voluptatibus eveniet iure modi? Voluptates possimus cupiditate excepturi magnam qui laudantium iure porro quae mollitia explicabo ullam, veritatis at eligendi officia provident soluta perspiciatis molestias doloribus eum dolores sit autem. Aperiam ab eveniet veritatis molestias. Voluptas aspernatur minus a quae amet fugiat assumenda saepe nobis, doloribus quia blanditiis vitae quas aut eius, dolores nihil, natus architecto distinctio molestias hic! Voluptate, aliquid temporibus corrupti culpa doloribus suscipit quisquam ipsum laboriosam adipisci deserunt illum numquam maxime iste, non nihil perferendis. Nihil, ab? Quae dolorem recusandae dicta, iure cupiditate eaque! Officia itaque unde sapiente totam facilis ut est quaerat earum rerum, obcaecati distinctio repellat vero. Asperiores, perspiciatis.</p>
    </div>
</body>

</html>